.bubble {
    position: fixed;
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);
    width: 50px;
    height: 50px;
    background-color: #ffffff; /* Change background color to white */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    background-image: url('../assets/rooms.png'); /* Add your image path */
    background-size: cover;
    background-position: center;
}
.bubble:hover{
    transform: translateY(50%) scale(1.1);
    box-shadow: 0 0 10px rgba(174, 255, 0, 0.783);
    background-color: rgb(196, 196, 196);
}
.bubble.open {
    transform: translateY(50%) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bubble-content {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform-origin: top right;
}

.bubble.open .bubble-content {
    opacity: 1;
    transform: translateY(0);
}

.room-list {
    padding: 10px;
}

.room-list div {
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.room-list div:hover {
    background-color: #f0f0f0;
}
.room-elem {
    padding: 10px;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.room-elem:hover {
    background-color: #f0f0f0; /* Change to a lighter shade on hover */
    color: #007bff; /* Change text color on hover */
}
.bubble-label {
    text-align: center;
    font-size: 18px;
    font-family: 'Arial', sans-serif; /* Change the font family */
    font-weight: bold; /* Make the text bold */
    color: #007bff; /* Change text color */
    letter-spacing: 1px; /* Add some letter spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    margin-bottom: 10px;
    position: absolute; /* Position the element absolutely */
    top: 180px; /* Adjust the top position to move it above the bubble */
    left: 97%; /* Position it horizontally centered */
    transform: translateX(-50%); /* Center it horizontally */
    z-index: 1; /* Ensure it appears above other content */
}

.bubble-label::before {
    content: "";
    display: block;
    border-top: 1px solid #cccccc;
    margin: 0 auto 10px;
    width: 50px;
}

